*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.divlogos{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo{
    height: 3rem;
    width: 5rem;
    margin: 2rem 0 0 2rem;
}

.imagen_principal{
    width: 100%;
}

.titulodiv{
    display: flex;
    justify-content: center;
    margin: 4rem 0 2rem 0;
}

.titulo{
    font-size: 4rem;
}

.textodiv{
    display: flex;
    justify-content: center;
}

.texto{
    font-size: 2rem;
    text-align: center;
}

.enlace{
    width: 45%;
    display: block;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 1rem 2rem ;
    border-radius: 20px;
    margin: 2rem auto;
    text-align: center;
}

.clients{
    display: flex;
    justify-content: space-around;
    margin: 3rem 0 5rem 0;
}

.clientes{
    height: 1.9rem;
}

.parte1{
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
}



a{
    text-decoration: none;
    color: black;
}

.visi{
    visibility: hidden;
}

/*javascrip*/


.rotate{
rotate: calc(180deg);
}

.visibilidad{
    visibility: visible;
}